/* ------------------------ *!* Acceuil *!* ------------------------ */

#intro{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    color: white;
    background-color: #1E272D;
    border-radius: 20px;
    padding: 10px;
}

.titre{
    color: white;
}

#imgIntroAcceuil {
    flex: 1;
    align-self: center;
}

#photoIntro {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    border: none;
}

#TexteIntro{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-evenly;
}

.presentation p {
    font-size: 20px;
    margin: 10px;
}

.presentation div {
    margin: 20px;
}

.texteBiographie {
    color: #f0f0f0;
    padding: 10px;
}

/* competence */

.competenceGeneral {
    display: flex;
}

.texteComp {
    width: 110px;
}

.texteComp p {
    color: #f0f0f0;
    margin: 0;
}

/*competence*/
details[open] #java {
    width: 900px;
}

details[open] #FX {
    width: 550px;
}

details[open] #css {
    width: 650px;
}

details[open] #php {
    width: 400px;
}

details[open] #sql {
    width: 400px;
}

details[open] #c {
    width: 750px;
}

details[open] #arduino {
    width: 150px;
}

details[open] #virtualBox {
    width: 150px;
}

details[open] summary ~ * {
    animation: open .5s ease-in-out;
}

details[close] summary ~ * {
    animation: close .5s ease-in-out;
}

@keyframes open {
    0% {opacity: 0; margin-left: -20px}
    100% {opacity: 1; margin-left: 0}
}

@keyframes close {
    0% {opacity: 1; margin-left: 0;}
    100% {opacity: 0; margin-left: -20px}
}

.competence{
    border-radius: 10px;
    transition: width 0.25s 0.5s ease-in-out;
    flex-direction: row;
    background: rgb(54,72,159);
    background: linear-gradient(90deg, rgba(54,72,159,0.9528186274509804) 37%, rgba(167,100,193,0.8407738095238095) 69%);
}

details:not([open]) .competence{
    width: 0;
}

/* carroussel */

#diaporama-container {
    display: flex;
    justify-content: center;
}

.diaporama {
    display: flex;
    align-items: center;
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.diaporama li {
    position: relative;
    max-height: 100%;
}

.diaporama img {
    display: block;
    width: 400px;
    border: none;
    animation: slide 8s infinite;
}

.bloc {
    display: block;
    width: 610px;
    border: 6px solid #FFF;
    overflow: hidden;
    box-shadow: 1px 1px 20px #888;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

@keyframes slide {
    50% {
        transform: translate(-400px, 0);
    }
    100% {
        transform: translate(0px, 0);
    }
}

@media screen and (max-width: 768px) {

    #carousel {
        display: block;
    }

    .textePres {
        display: block;
    }
}

@media screen and (max-width: 1060px) {

    #intro {
        display: block;
    }

    #imgIntroAcceuil {
        margin-top: 20px;
    }

    #TexteIntro{
        text-align: center;
    }

    #TexteIntro p{
        padding: 10px;
    }
}