.imgPresent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.THM {
    width: 561px;
    height: 397px;
}

.logo {
    width: 250px;
    height: 250px;
}

.logo:hover {
    width: 230px;
    height: 230px;
}

a > .logo {
    border-radius: 100%;
}

.descriptionImg {
    color: #888;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: none;
    display: block;
}

/* ligne de separation */
.separator {
    border-top: 3px solid #ccc;
    margin: 20px 0;
}

.textButDesc {
    color: #f0f0f0;
    padding: 20px;
    margin:0;
}

.text-vide{
    flex-direction: column;
}